---
import "../styles/global.css";
import { Image } from "astro:assets";
import profilePic from "../assets/photo.png";
import dartSvg from "../assets/dart.svg";
import flutterSvg from "../assets/flutter.svg";
import javaScriptSvg from "../assets/javascript.svg";
import tailWindSvg from "../assets/tailwind.svg";
---

<section
  id="home"
  class="w-full max-w-full overflow-x-hidden md:max-w-[1200px] md:mx-auto md:px-6 px-4 space-y-6 pt-12 md:pt-16 pb-24"
>
  <h1 class="font-dot text-3xl md:text-5xl text-center tracking-wide">
    An Intr0duct1on
  </h1>

  <div class="w-full grid grid-rows-[auto_auto] gap-1.5">
    <!-- Image + Name -->
    <div class="w-full flex flex-col md:flex-row gap-1.5 items-stretch">
      <!-- Image -->
      <div
        class="relative z-40 w-full md:flex-[1.2] bg-zinc-700 border border-white/20 rounded-3xl md:rounded-tl-4xl overflow-hidden"
      >
        <Image
          class="w-full aspect-square md:aspect-auto md:h-full object-cover"
          src={profilePic}
          alt="Justatnann Profile Picture"
        />
      </div>

      <!-- Right Content -->
      <div class="w-full md:flex-[2.8] flex flex-col gap-1.5">
        <!-- Name Card -->
        <div
          class="relative w-full bg-white border border-white/20 p-5 md:p-6 flex flex-col justify-center flex-1 rounded-l-3xl rounded-br-3xl md:rounded-none"
        >
          <div
            class="absolute right-0 top-0 md:right-0 md:top-0 w-4 h-4 bg-red-600"
          >
          </div>

          <p
            class="font-archimotov-bold text-2xl md:text-5xl lg:text-6xl text-center md:text-right px-2 md:px-0"
          >
            Atnan Ari Anders0n
          </p>

          <div class="border my-3 md:my-3 w-full"></div>

          <p
            class="font-archimotov text-base md:text-2xl text-center md:text-right px-2 md:px-0"
          >
            Aspiring Mobile Developer
          </p>
        </div>

        <!-- Social Links -->
        <div
          class="w-full grid grid-cols-2 gap-1 md:grid-cols-4 font-archimotov-bold text-sm md:text-lg"
        >
          <a
            href="https://www.linkedin.com/in/atnan-ari-anderson-811346253"
            class="bg-white rounded-4xl md:rounded-r-none p-4 text-center md:hover:bg-blue-800 md:hover:text-white md:transition"
          >
            Linkedin ↗
          </a>
          <a
            href="https://github.com/Justatnann"
            class="bg-white rounded-4xl md:rounded-l-none p-4 text-center md:hover:bg-zinc-800 md:hover:text-white md:transition"
          >
            Github ↗
          </a>
          <a
            href="https://www.instagram.com/justatnann"
            class="bg-white rounded-4xl md:rounded-r-none p-4 text-center md:hover:bg-pink-700 md:hover:text-white md:transition"
          >
            Instagram ↗
          </a>
          <a
            href="https://www.facebook.com/atnan.arianderson/"
            class="bg-white rounded-4xl md:rounded-l-none p-4 text-center md:hover:bg-blue-800 md:hover:text-white md:transition"
          >
            Facebook ↗
          </a>
        </div>
      </div>
    </div>

    <!-- Bio + Tech -->
    <div class="w-full flex flex-col md:flex-row gap-1.5">
      <!-- Bio -->
      <div
        class="relative z-40 w-full md:flex-2
          bg-white border border-white/20
          md:rounded-l-full
          rounded-3xl
          p-5 md:p-10
          text-center md:text-right"
      >
        <p
          class="font-archimotov text-sm md:text-xl leading-relaxed px-2 md:px-0"
        >
          Hello! I'm Atnan, a passionate mobile developer. I love creating
          innovative mobile applications that make a difference. When I'm not
          coding, you can find me exploring the latest tech trends or working on
          personal projects to sharpen my skills.
        </p>
      </div>

      <!-- Tech -->
      <div
        class="w-full pt-3 md:pt-0 grid grid-cols-4 md:grid-cols-2 md:flex-1 gap-1.5 place-items-center"
      >
        <Image
          class="w-10 h-10 md:w-12 md:h-12 animate-float"
          src={dartSvg}
          alt="Dart"
        />
        <Image
          class="w-10 h-10 md:w-12 md:h-12 animate-float-4.8s"
          src={flutterSvg}
          alt="Flutter"
        />
        <Image
          class="w-10 h-10 md:w-12 md:h-12 animate-float-4s"
          src={tailWindSvg}
          alt="Tailwind"
        />
        <Image
          class="w-10 h-10 md:w-12 md:h-12 animate-float-5.6s"
          src={javaScriptSvg}
          alt="JS"
        />
      </div>
    </div>
  </div>
</section>
